.banner-container {
  background-color: #000000;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 2rem 0 1rem 0;
}

.moving-text {
  display: inline-block;
  padding-left: 100%;
  animation: move 30s linear infinite;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.8rem;
  padding: 0.5rem 0;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .banner-container {
    margin: 1rem 0;
  }

  .moving-text {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
} 